.form-footer {
  margin-top: 48px;
}

.divider {
  border: 0px;
  border-top:1px solid var(--input-stroke);
  margin-top: 48px;
  margin-bottom: 40px;
}

.terms-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 48px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font: var(--body-md);
  color: var(--text-body);
}

.checkbox-label input[type="checkbox"] {
  display: none;
}

.checkbox-custom {
  width: 24px;
  height: 24px;
  border: 2px solid var(--input-stroke);
  border-radius: 6px;
  background-color: transparent;
  flex-shrink: 0;
  position: relative;
  transition: all 0.2s;
}

.checkbox-label input[type="checkbox"]:checked + .checkbox-custom {
  background-color: tra;
  border-color: var(--brand-light);
}

.checkbox-label input[type="checkbox"]:checked + .checkbox-custom::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid var(--brand-light);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}

.checkbox-text {
  flex: 1;
}

.checkbox-text a {
  color: var(--brand-light);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}

.checkbox-text a:hover {
  text-decoration: underline;
  color: var(--brand-dark);
}

.submit-button {
  width: auto;
  padding: 16px 32px;
  background-color: var(--brand-dark);
  color: var(--text-heading);
  border: none;
  border-radius: 8px;
  font: var(--heading-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: background-color 0.2s;
  margin-left: auto;
}

.submit-button:hover {
  background-color: var(--brand-dark);
}

.submit-button:active {
  transform: scale(0.98);
}

.submit-button img {
  width: 20px;
  height: 20px;
}